name: ETL Pipeline CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:10.11   # Use latest stable MariaDB image
        env:
          MYSQL_ROOT_PASSWORD: rootpass
          MYSQL_DATABASE: greencart_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint code
        run: |
          pip install flake8
          flake8 src --max-line-length=88

      - name: Run ETL pipeline
        env:
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
          DB_USER: root
          DB_PASSWORD: rootpass
          DB_NAME: greencart_db
          DATA_PATH: data/sample
        run: python src/pipeline.py
        
      - name: run unit test
        run: pytest
